extends layout

block content
    form(action='/delete/#{movie._id}', method = 'POST')
        h1 Etes-vous sûr de vouloir supprimer #{movie.title} ?
        .form-group
            .btn-group
                button.btn.btn.primary(type="submit") Delete
                a(href="/")
                    button.btn.btn-danger(type="button") Cancel